---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XEB5Y5R84H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XEB5Y5R84H');
</script>

  <body class="{% if page.layout == 'home' %}home-splash{% endif %}{% if page.layout == 'biophilia' %} biophilia-page{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>
    {% include scripts.html %}

  </body>
</html>
